.gradle
.idea
build

buildSrc/.gradle
buildSrc/build

core/.gradle
core/build

api/.gradle
api/build

jars

paper/.gradle
paper/build

paper/run

!paper/run/config
!paper/run/bukkit.yml
!paper/run/eula.txt
!paper/run/server.properties
!paper/run/spigot.yml